.chatFollowerList{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .chatFollowing{
    align-items: center;
    display: flex;
    margin-top: 2px;
  }
  
  .chatFollowingImage{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    margin-right: 3px
  }
  
  .chatFollowingName{
  margin-right: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  
  }
  
  .chatFollowingBox{
    height: auto;
    width: 240px;
    background-color:white;
    border-radius:20px;
    border: 1.5px solid #000000;
    margin-bottom: 12px;
  }